<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <% if(user && url){ %> 
    <p> This is confirmation email</p>
    <p> <span> Hello</span> <%= user.username %></p>
    <a href=<%= url %>>click this link to activate account</a>
    <% } %>

</body>
</html>